@charset "UTF-8";

@media screen AND (min-width: 600px) and (max-width: 1178px) {
    /* TABLET*/

    body {
        background-image: linear-gradient(to top,  #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    section#login > div.imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login > div.formulario {
        float: right;
        width: 65%;
        
    }
    div.formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 1178px) {
    /*DESKTOP E TV*/

    body {
        background-image: linear-gradient(to top,  #49a09d, #5f2c82);
    }
    section#login {
        width: 1170px;
    }

    section#login > div.imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div.formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    div.formulario > h1 {
        font-size: 1.7em;
    }

    div.formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }

    /*
    O "float" é uma propriedade CSS que permite que um elemento flutue ao lado de outros elementos, geralmente texto. Isso é útil para criar layouts de colunas ou posicionar elementos lado a lado.

Os valores comuns para float incluem:

left: Flutua à esquerda do elemento de fluxo, com o texto fluindo ao seu redor.

right: Flutua à direita do elemento de fluxo, com o texto fluindo ao seu redor.

none: O elemento não flutua e não é removido do fluxo normal do documento.

A propriedade float é frequentemente usada para posicionar elementos de forma que eles fiquem ao lado uns dos outros, como imagens e textos. No entanto, é importante lembrar de limpar o float com a propriedade "clear" ou um pseudo-elemento "::after" para evitar efeitos indesejados no layout. */
    
}